 body{
	margin: 0;
}
/*FOOTER*/
.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #d1cccc;
	color: #f9f9f9;
    font-family: "freepixel"; 
}
.footercontent{
    height: 50%;
    flex-basis: 1;
   
}
.footercontent img{
    height: 100%;
    vertical-align: bottom;
    margin-right: 20px;
    
}

iframe{
    border: none;
}

@font-face {
font-family: "freepixel";
src: url(typsnitt/freepixel.ttf);
}